/* CSS Reset */

body {
  margin:0px;
  padding:0px;
  background:#EAEAF0;
}

#pag {
  width:1000px;
  display:block;
  margin:auto;
}

#comicsHolder {
	width:70%;
	max-width:1200px;
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
}

#comicsHolder .comic {
	display:block;
	width:200px;
	float:left;
	margin-left:20px;
}

#comicsHolder .comic img{
	width:100%;
}


/*PAGes*/


#pagesHolder {
	width:70%;
	max-width:1200px;
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
}

#pagesHolder .pages {
	display:block;
	width:200px;
	float:left;
	margin-left:20px;
}

#pagesHolder .pages img {
	width:100%;
  height:260px;
  margin-bottom:30px;
}


.menuTop {
	
	display:block;
	position:absolute;
	width:70px;
	height:70px;
	top:10px;
	left:10px;	
}

.clear {
    clear: both;
}
