/* CSS Reset */

body {
  margin:0px;
  padding:0px;
}

#pag {
  width:1000px;
  display:block;
  margin:auto;
}

.comic {
	display:block;
	width:200px;
	float:left;
}

.comic img{
	width:100%;
}

.clear {
    clear: both;
}
